html {
  height: 100%;
}

h1 {
  margin: 0px;
  font-family: arial;
  font-size: 80px;
  text-align: center;
}

#mainForm {
  background-color: white;
  position: fixed;
  display: none;
  margin-top: 300px;
  border: 3px solid black;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  margin-left: 35%;
  opacity: 0.97;
}

input {
  font-size: 20px;
  background-color: #f2f2f2;
  width: 490px;
}

#formX {
  border: 1px solid black;
  margin-top: 15px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: lightskyblue;
  cursor: pointer;
  width: 20px;
}

#addItemButton {
  font-size: 40px;
  width: 50px;
  float: right;
  border: none;
  background-color: lightskyblue;
  cursor: pointer;
  margin-top: 1px;
}

#newProject {
  font-size: 20px;
}

#content {
  display: grid;
  height: 100vh;
  margin-top: 25px;
  grid-template-columns: 250px auto 75px;
  border-top: 3px solid black;
}

#sideBar {
  border-right: 3px solid black;

  width: 250px;
}

#doneButton {
  font-size: 18px;
  float: right;
  margin-top: 15px;
  cursor: pointer;
}

.listItems {
  font-size: 35px;
  width: 100%;

  border: 2px solid black;
  border-top: none;
  padding-left: 10px;
  height: 40px;
  float: left;
}

.listRemove {
  font-size: 35px;
  margin: 2px;
  border: 2px solid black;
  width: 30px;
  height: 32px;
  background-color: silver;
  float: right;
  font-family: arial;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.folderList {
  font-size: 30px;
  padding: 3px;
  background-color: silver;
  margin-bottom: 3px;
}

.folderList:hover {
  background-color: lightgreen;
  cursor: pointer;
}

#projectInput {
  width: 200px;
}
