html {
  height: 100%;
  font-family: arial;
}

h1 {
  margin: 0px;
  font-size: 58px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  h1 {
    margin: 0px;
    font-size: 50px;
    text-align: left;
    height: 60px;
  }
}

p {
  margin: 0;
}

#mainForm {
  background-color: rgb(212, 212, 212);
  position: fixed;
  border: 2px solid black;
  padding: 8px;
  max-width: 600px;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 25%;
  margin-top: 10%;
  opacity: 0;
  transform: translateY(0px);
  transition-duration: 0.1s;
  z-index: 1000;
}

@media only screen and (max-width: 500px) {
  #mainForm {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 80%;
    font-size: 12px;
    margin-top: 30%;
  }
}

input[type="text"],
select {
  font-size: 20px;
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  input[type="text"],
  select {
    font-size: 12px;
    width: 100%;
    padding: 4px 4px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

input[type="datetime-local"] {
  font-size: 20px;
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  input[type="datetime-local"] {
    font-size: 20px;
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

textarea {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  font-size: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#formX {
  float: right;
  cursor: pointer;
  font-size: 30px;
  margin-right: 10px;

  text-align: center;
}

#addItemButton {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 100px;
  width: 125px;
  border: none;
  background-color: lightskyblue;
  cursor: pointer;
  margin-top: 1px;
  border: 3px solid black;
}

@media only screen and (max-width: 500px) {
  #addItemButton {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 35px;
    width: 60px;
    border: none;
    background-color: lightskyblue;
    cursor: pointer;
    margin-top: 1px;
    border: 3px solid black;
  }
}

#addItemButton:hover {
  filter: brightness(0.95);
}

select {
  font-size: 20px;
}

#newProject {
  font-size: 18px;
  height: 39px;
  width: 140px;
  line-height: 10px;
  transform: translateY(0);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  #newProject {
    font-size: 14px;
    height: 22px;
    width: 90px;
    line-height: 10px;
    transform: translateY(0);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }
}

#content {
  display: grid;
  width: 100%;
  height: 100vh;
  margin-top: 25px;
  grid-template-columns: 200px auto;
  border-top: 3px solid black;
}

@media only screen and (max-width: 500px) {
  #content {
    display: grid;
    width: 100%;
    height: 100vh;
    margin-top: 25px;
    grid-template-columns: 110px auto;
    border-top: 3px solid black;
  }
}

.fa-trash {
  float: right;
  margin-right: 10px;
  cursor: pointer;

  transform: scale(1.3);
}

.fa-edit {
  margin-right: 10px;
  cursor: pointer;
  transform: scale(1.3);
}

#sideBar {
  border-right: 3px solid black;

  width: 200px;
}

@media only screen and (max-width: 500px) {
  #sideBar {
    border-right: 3px solid black;

    width: 110px;
  }
}

.saveButton {
  font-size: 22px;
  float: right;
  margin-top: 15px;
  cursor: pointer;
  border: 2px solid black;
  padding: 5px;
  background-color: white;
}

#doneButton {
  font-size: 22px;
  float: right;
  margin: 5px;
  margin-top: 15px;

  cursor: pointer;
  border: 2px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 5px;
}

.listRemove {
  font-size: 18px;
  margin: 2px;
  margin-bottom: 7px;
  vertical-align: auto;
  border: 2px solid black;
  width: 90px;
  line-height: 20px;
  background-color: rgb(211, 208, 208);
  text-align: center;
  cursor: pointer;
}

.listEdit {
  font-size: 18px;
  margin: 2px;
  margin-bottom: 7px;
  vertical-align: auto;
  border: 2px solid black;
  width: 90px;
  line-height: 20px;
  background-color: rgb(211, 208, 208);
  text-align: center;
  cursor: pointer;
}

.folderList {
  font-size: 30px;
  padding: 3px;
  background-color: lightgrey;
  margin-bottom: 3px;
}

@media only screen and (max-width: 500px) {
  .folderList {
    font-size: 18px;
    padding: 3px;
    background-color: lightgrey;
    margin-bottom: 3px;
  }
}

.folderList:hover {
  cursor: pointer;
  background-color: silver;
}

#projectInput {
  width: 200px;
}

.folderName {
  font-size: 30px;
  text-align: center;

  background-color: rgb(212, 212, 212);
  border-left: 3px solid black;
  padding: 3px;
  height: 34px;
}

@media only screen and (max-width: 500px) {
  .folderName {
    font-size: 20px;
    text-align: center;

    background-color: rgb(212, 212, 212);
    border-left: 3px solid black;
    padding: 3px;
    height: 22px;
  }
}

.listItems {
  line-height: 25px;
  font-size: 20px;
  border-bottom: 2px solid black;
  border-left: 3px solid black;
  padding-left: 10px;
  background-color: hsl(203, 100%, 82%);
}

@media only screen and (max-width: 500px) {
  .listItems {
    padding-bottom: 5px;
  }
}

.folderRemoveButton {
  font-size: 25px;
  margin: 2px;

  color: grey;
  width: 25px;
  height: 25px;

  float: right;
  font-size: 20px;
  text-align: center;

  cursor: pointer;
}
.folderRemoveButton:hover {
  color: black;
  font-weight: bold;
}
